---
# this is an empty front matter
---

<!DOCTYPE html>
<html lang="en">
<head>

  <title>404 Page | Not Found [wdcee.com]</title>

 
{% include header.html %}



<nav id="lmenu">

<h3 id="menu" onclick="myFunction()">Menu</h3>


	<ul>

        <a href="/"><li>Home</li></a>
        <a href="/web-design-barcelona"><li>Web Design</li></a>
        <a href="/web-development-barcelona"><li>Web Development</li></a>
        <a href="/seo-barcelona"><li>SEO Marketing</li></a>
        <a href="/wordpress-barcelona"><li>WordPress Webdesign</li></a>
        <a href="/responsive-web-design-barcelona"><li class="active">Responsive Webdesign</li></a>
        <a href="/contact"><li>Contact</li></a>

	</ul>
</nav>	

<br>
<br>


<section id="area1">

	<div class="wrapper-left">

	<img src="/img/404.png" alt="404-illustration" width="100px">

	<h1>404 Page not found</h1>

	<h2>Go back to:</h2>

	<a href="/"><li>Home</li></a>
    <a href="/web-design-barcelona"><li>Web Design</li></a>
    <a href="/web-development-barcelona"><li>Web Development</li></a>
    <a href="/seo-barcelona"><li>SEO Marketing</li></a>
    <a href="/wordpress-barcelona"><li>WordPress Webdesign</li></a>
    <a href="/responsive-web-design-barcelona"><li class="active">Responsive Webdesign</li></a>
    <a href="/contact"><li>Contact</li></a>



	</div>

	<div class="wrapper-right">

		{% include sidebar.html %}

	</div>

</section>





{% include footer.html %}

<script src="/main.js"></script>

</body>
</html