---
# this is an empty front matter
---

<!DOCTYPE html>
<html lang="us">
<head>

  <title>About Me | Freelance Web Designer Barcelona</title>

 
{% include header.html %}


<nav id="lmenu">

<h3 id="menu" onclick="myFunction()">Menu</h3>


	<ul>

        <a href="/"><li>Home</li></a>
        <a href="/web-design-barcelona"><li>Web Design</li></a>
        <a href="/web-development-barcelona"><li class="active">Web Development</li></a>
        <a href="/seo-barcelona"><li>SEO Marketing</li></a>
        <a href="/wordpress-barcelona"><li>WordPress Webdesign</li></a>
		<a href="/responsive-web-design-barcelona"><li>Responsive Webdesign</li></a>
		<a href="/portfolio"><li>Portfolio</li></a>
        <a href="/contact"><li>Contact</li></a>

	</ul>
</nav>	

<br>
<br>



<section id="area1">

	<div class="wrapper-left">

		<h2>About Me</h2>
		<p>My name is Lukasz Adam. I code, I design and I optimise pages to increase their traffic. I solve problems, to help others create their vision online. It doesn't matter, if you need something new or if you need help with something you already created, I am sure I can help, to find the best way to achieve your goal. 
		<br><br>
		I love to learn new languages and that is what brought me to Barcelona. Even I wasn’t born in this great city, I never felt more home like in Barcelona. 
		<br><br>
		I love to travel and that’s why I spend my time on several places all over the world. I love to work with people from all over the world and I love to inspire them and teach new things to them as well as learning new things for myself. 
		<br><br>
		If you like to know more about me, please feel free to contact me anytime you like. Just use my Email or my Social Media channels.</p>
		<br><br>
		<img title="Me-at-Bunker-del-Carmel" src="/img/portrait-of-me.jpg" alt="Me-at-Bunker-del-Carmel">


	</div>

	<div class="wrapper-right">


		{% include sidebar.html %}


	</div>

</section>





{% include footer.html %}

<script src="/main.js"></script>

</body>
</html>