---
# this is an empty front matter
---

<!DOCTYPE html>
<html lang="us">
<head>

  <title>About Me | Freelance Web Designer Barcelona</title>

 
{% include header.html %}


<nav id="lmenu">

<h3 id="menu" onclick="myFunction()">Menu</h3>


	<ul>

        <a href="/"><li>Home</li></a>
        <a href="/web-design-barcelona"><li>Web Design</li></a>
        <a href="/web-development-barcelona"><li class="active">Web Development</li></a>
        <a href="/seo-barcelona"><li>SEO Marketing</li></a>
        <a href="/wordpress-barcelona"><li>WordPress Webdesign</li></a>
		<a href="/responsive-web-design-barcelona"><li>Responsive Webdesign</li></a>
		<a href="/portfolio"><li>Portfolio</li></a>
        <a href="/contact"><li>Contact</li></a>

	</ul>
</nav>	

<br>
<br>



<section id="area1">

	<div class="wrapper-left">

		<h2>About Me</h2>
		<p>My name is Lukasz Adam. I code, I design and I optimise pages to increase their traffic. 
		I solve problems, to help others create their vision online. It doesn't matter, if you need something new or if you need help 
		with something you already created, I am sure I can help, to find the best way to achieve your goal. 
		<br><br>
		One specialty that you can expect from me, is that I work fast, efficiently and that I create my User Interfaces 
		for websites with lots of illustrations and colors. The website needs to breath, that is why I make sure to 
		add enough White Space to it.
		<br><br>
		You know the feeling when you land on a website, and think to yourself: 
		“Wow, this is a clean modern approach”. From my point of view, this is the 
		best way to present your product or service.
		<br><br>
		I love to learn new languages and that is what brought me to Barcelona. Even I wasn’t born in this great city, 
		I never felt more home like in Barcelona. The first time I’ve visited <a href="https://en.wikipedia.org/wiki/Park_G%C3%BCell">Park Güell</a> or the Sagrada Familia, I was impressed by all the beautiful colors. 
		Catalonia's capital is a city is a full of life. As a Freelancer, after designing and coding a website, 
		there is nothing more relaxing than enjoying the view from <a href="https://es.wikipedia.org/wiki/Playa_de_la_Barceloneta">Barcelonetas Beach.</a>
		<br><br>
		There are lots of great Designers, Entrepreneurs and Startups emerging from Barcelona, that is why it is such 
		a great place to work as a Freelancer. With its 1.6 million people, there is always a new project to begin with.
		<br><br>
		I love to travel and that’s why I spend my time on several places all over the world. 
		I love to work with people from all over the world and I love to inspire them and teach 
		new things to them as well as learning new things for myself. 
		<br><br>
		If you like to know more about me, please feel free to contact me anytime you like. 
		Just use my Email or my Social Media channels.</p>
		<br><br>
		<img title="Me-at-Bunker-del-Carmel" src="/img/portrait-of-me.jpg" alt="Owner at Bunker del Carmel in Barcelona">


	</div>

	<div class="wrapper-right">


		{% include sidebar.html %}


	</div>

</section>





{% include footer.html %}

<script src="/main.js"></script>

</body>
</html>