---
# this is an empty front matter
---

<!DOCTYPE html>
<html lang="us">
<head>

  <title>About Me Lukasz Adam - wdcee.com</title>

 
{% include header.html %}



<section id="homepage-hero">
	<div class="homepage-wrapper">

	<h1>About me<span>Freelance Web Designer</span><br><span class="yellow">Barcelona</span></h1>
	<img src="/img/logo.svg" alt="logo">


	</div>
</section>


<section id="area1">

	<div class="wrapper-left">

		<h2>About Me</h2>
		<p>My name is Lukasz. I code, I design and I optimise Pages to increase their traffic. I solve problems to help other create their vision online. No matter if you need something new or if you need help with something you already created, I am sure I can help to find the best way to achieve your goal. 
		<br><br>
		I love to learn new languages and that is what brought me to Barcelona. Even I wasn’t born in the great city, I never felt more home like in Barcelona. 
		<br><br>
		I love to travel that’s why I spend my time on several places all over the world. I love to work with people from all over the world and I love to inspire them and teach new things as well as learning new things. 
		<br><br>
		If you like to know more about me, please feel free to contact me anytime you like. Just use my Email or my Social Media channels.</p>
		<br><br>
		<img title="responsive-web-design-barcelona" src="/img/me.jpg" alt="picture-of-an-iphonex">


	</div>

	<div class="wrapper-right">

		<h2>Why me?</h2>

		<ul class="liste">
			<li>I find the best way to solve a problem.</li>
			<li>You don’t pay an extraordinary sum.</li>
			<li>I can work remote as well as in Barcelona.</li>
			<li>Because I believe creating the best version of something.</li>
		</ul>

		<h2>Social Media</h2>
		<p>Join my <a href="https://www.facebook.com/groups/543169876044894/">Facebook Marketing Group</a> to increase your Traffic.</p>

		<img src="/img/icon-lukaszadam.png" alt="illustration-of-me" width="150px">

		<h2>Contact Me</h2>
		<p>You can write me an E-mail or check my Social Media.

		<h3 id="email-site">lukasz.adms@gmail.com</h3>
		<a href="https://www.facebook.com/lukaszadamcom/"><img src="/img/facebook.svg" alt="facebook" width="40px"></a>
		<a href="https://twitter.com/lukaszadam_com"><img src="/img/twitter.svg" alt="facebook" width="40px"></a>
		<a href="https://www.instagram.com/lukaszadam_com/"><img src="/img/instagram.svg" alt="facebook" width="40px"></a>

.</p>

	</div>

</section>





{% include footer.html %}

<script src="/main.js"></script>

</body>
</html>