---
# this is an empty front matter
---

<!DOCTYPE html>
<html lang="en">
<head>

  <title>Contact me for Webdesign Services [wdcee.com]</title>


{% include header.html %}


<nav id="lmenu">

<h3 id="menu" onclick="myFunction()">Menu</h3>


	<ul>

        <a href="/"><li>Home</li></a>
        <a href="/web-design-barcelona"><li>Web Design</li></a>
        <a href="/web-development-barcelona"><li>Web Development</li></a>
        <a href="/seo-barcelona"><li>SEO Marketing</li></a>
        <a href="/wordpress-barcelona"><li>WordPress Webdesign</li></a>
        <a href="/responsive-web-design-barcelona"><li>Responsive Webdesign</li></a>
        <a href="/contact"><li class="active">Contact</li></a>

	</ul>
</nav>

<br>
<br>


<section id="area1">

	<div class="wrapper-left">




		<h1>Contact Me.</h1>
		<p>If you don't like using Social Media, you can send me an message with this contact form.</p>

<form action="https://formspree.io/lukasz.adms@gmail.com"
      method="POST">

		<label for="Name">Name</label>
		<input type="text">

		<label for="Name">Email</label>
		 <input type="email" name="_replyto">

		<label for="Name">Name</label>
		<textarea name="textarea" cols="30" rows="10"></textarea>


		<input type="submit" value="Send">
</form>




	</div>

	<div class="wrapper-right">

<h4>Hi, I'm Lukasz Adam.</h4>
		<img title="barcelona-freelancer" id="port" src="/img/me.jpg" alt="picture-of-me">

		<h4>Why working with me?</h4>

		<ul class="liste">
			<li>I believe in solving a problem, in the most simple way.</li>
			<li>You don’t pay an extraordinary sum.</li>
			<li>I can work remote from the whole world, as well as in Barcelona.</li>
			<li>Because I believe, in creating the best version of your projects and your visions.</li>
		</ul>

		<h4>Social Media</h4>
		<a href="https://www.facebook.com/lukaszadamcom/"><img src="/img/facebook.svg" alt="facebook" width="40px"></a>
		<a href="https://twitter.com/lukaszadam_com"><img src="/img/twitter.svg" alt="facebook" width="40px"></a>
		<a href="https://www.instagram.com/lukaszadam_com/"><img src="/img/instagram.svg" alt="facebook" width="40px"></a>
		<p>Join my <a href="https://www.facebook.com/groups/543169876044894/">Facebook Marketing Group</a> to increase your Traffic.</p>


		<img src="/img/icon-lukaszadam.png" alt="illustration-of-me" width="150px">
		<h4>Contact Me</h4>
		<p>You can write me an Email or use my <a href="contact">Contact page</a> or my Social Media channels.

		<h3 id="email-site">lukasz.adms@gmail.com</h3>

	</div>

</section>





{% include footer.html %}

<script src="/main.js"></script>

</body>
</html>
