---
title: Contact Freelance Web Designer Barcelona Today - Wdceee
layout: default
---


{% include header.html %}


<section class="block block-hero-1">
        <div class="container">
          <h1><span class="light">Contact Me</span></h1>
        </div>
</section>





<section>
    <div class="wrapper">

        <h2>Tell me something about your project 👨🏻‍🍳</h2>

        <p>If you don't like using Social Media, you can send me an message with this contact form.
            I usually respond within an Hour. Please let me know all the details that are important.
        </p>



 <form name="contact" method="POST" action="/thank-you" data-netlify="true">

  <label for="Name">Name</label>
  <input type="text">

  <label for="Name">Email</label>
   <input type="email" name="_replyto">

  <label for="Name">Name</label>
  <textarea name="textarea" cols="30" rows="10"></textarea>


  <input type="submit" value="Send">
</form>


    
    </div>
</section>



{% include footer.html %}
