---
# this is an empty front matter
---

<!DOCTYPE html>
<html lang="en">
<head>

  <title>My Portfolio | Freelance Web Designer Barcelona</title>


{% include header.html %}



<nav id="lmenu">

<h3 id="menu" onclick="myFunction()">Menu</h3>


	<ul>

        <a href="/"><li>Home</li></a>
        <a href="/web-design-barcelona"><li>Web Design</li></a>
        <a href="/web-development-barcelona"><li >Web Development</li></a>
        <a href="/seo-barcelona"><li>SEO Marketing</li></a>
        <a href="/wordpress-barcelona"><li>WordPress Webdesign</li></a>
        <a href="/responsive-web-design-barcelona"><li>Responsive Webdesign</li></a>
        <a href="/portfolio"><li class="active">Portfolio </li></a>
        <a href="/contact"><li>Contact</li></a>

	</ul>
</nav>

<br>
<br>


<section id="area1">

	<div class="wrapper-left">

        <h1 class="first">My Freelance Web Design Portfolio</h1>

        <p>Here you can find some of my Freelance Work. All the Website that you see here were made by me.
            I also added some Icons and Illustrations since I love to add those to my User Interface Design.
        </p>
        
        <img src="/img/portfolio-website1.jpg" alt="portfolio website one">

        <img src="/img/portfolio-website2.jpg" alt="portfolio website two">

        <img src="/img/portfolio-website3.jpg" alt="portfolio website three">

        <img src="/img/portfolio-website4.jpg" alt="portfolio website four">

        <img src="/img/portfolio-website5.jpg" alt="portfolio website five">

        <img src="/img/portfolio-website6.jpg" alt="portfolio website six">

        <img src="/img/portfolio-icons.jpg" alt="Picture of my Icons">

        <img src="/img/portfolio-illustration.jpg" alt="portfolio picture of my illustration">
	

	








	</div>

	<div class="wrapper-right">

		{% include sidebar.html %}

	</div>

</section>





{% include footer.html %}

<script src="/main.js"></script>

</body>
</html>
