---
# this is an empty front matter
---

<!DOCTYPE html>
<html lang="en">
<head>

  <title>Responsive Web Design | Freelance Web Designer Barcelona</title>


{% include header.html %}



<nav id="lmenu">

<h3 id="menu" onclick="myFunction()">Menu</h3>


	<ul>

        <a href="/"><li>Home</li></a>
        <a href="/web-design-barcelona"><li>Web Design</li></a>
        <a href="/web-development-barcelona"><li>Web Development</li></a>
        <a href="/seo-barcelona"><li>SEO Marketing</li></a>
        <a href="/wordpress-barcelona"><li>WordPress Webdesign</li></a>
        <a href="/responsive-web-design-barcelona"><li class="active">Responsive Webdesign</li></a>
        <a href="/contact"><li>Contact</li></a>

	</ul>
</nav>

<br>
<br>


<section id="area1">

	<div class="wrapper-left">

		<h1 class="first">Responsive Web Design Service</h1>
		<p>Barcelonas <a href="https://en.wikipedia.org/wiki/Responsive_web_design">Responsive Webdesign</a> adapts your website to every device out there. No matter if you are using an <strong>iPhone 5</strong>, an iPhone X, a Samsung Galaxy S8, an iPad or even an <strong>Tablet</strong> or a Phablet. Your content should flow like water. What I mean by that is, no matter how wide the <strong>screen size</strong>, your titles, your images and the whole content should adapt itself to it. It should “render well”.</p>

		<img title="responsive-web-design-barcelona" src="/img/picture-of-a-smartphone.jpeg" alt="picture-of-an-iphonex">

		<p>
		To make this work, I use CSS <a href="https://en.wikipedia.org/wiki/Media_queries">Media Queries (@media)</a>. This is essential for adjusting the content for every viewport and for every browser.
		</p>

		<h2>Mobile First</h2>

		<p>
		Mobile First is a very common technique used in the <strong>web development world.</strong> Every web designer mostly starts with implementing the styles and the content for the smallest <strong>viewport</strong> available. From there on it is much easier to make the content fit into a <strong>bigger screen</strong> like a desktop pc.
		<br><br>
		I use the <strong>preprocessor</strong> Sass for styling the markup on your page. Mobile First and Responsive web design is getting even more important, because Google is rolling out the “mobile first index”. In other words, when your content isn’t made for <strong>smartphones</strong> and when your page can not be viewed with ease on an iPhone, Google will stop <strong>indexing</strong> your page in the search results. Which is a very big impact in terms of <a href="seo-barcelona">SEO Marketing. You will miss tons of quality traffic.</a>
		<br><br>
		Our Responsive Web Design Service from Barcelona includes:
		</p>

		<ul class="ul-list">
		<li>Adjusting an existing page.</li>
		<li>Creating a new page for mobile.</li>
		<li>Fixing Errors for different viewports.</li>
		<li>Align everything with the mobile first index.</li>
		</ul>


	</div>

	<div class="wrapper-right">

		{% include sidebar.html %}

	</div>

</section>





{% include footer.html %}

<script src="/main.js"></script>

</body>
</html>
