---
# this is an empty front matter
---

<!DOCTYPE html>
<html lang="en">
<head>

<title>Thank You Page | Freelance Web Designer Barcelona</title>

<meta name="robots" content="noindex, nofollow">

{% include header.html %}


<!--Everything starts here!-->


<!--This is a comment. Comments are not displayed in the browser-->

<section id="area1">

	<div class="wrapper-left">

  
    <h1>Thanks for submitting your Message!</h1>

    <p>I will get back to you in maximum an hour.</p>


	</div>
</section>



<!--This is a comment. Comments are not displayed in the browser-->

</div> <!-- sets -->








{% include footer.html %}


</body>
</html>
