---
# this is an empty front matter
---

<!DOCTYPE html>
<html lang="en">
<head>

  <title>Freelance Interface Designr Barcelona [wdcee.com]</title>


{% include header.html %}



<nav id="lmenu">

<h3 id="menu" onclick="myFunction()">Menu</h3>


	<ul>

        <a href="/"><li>Home</li></a>
        <a href="/web-design-barcelona"><li class="active">Web Design</li></a>
        <a href="/web-development-barcelona"><li>Web Development</li></a>
        <a href="/seo-barcelona"><li>SEO Marketing</li></a>
        <a href="/wordpress-barcelona"><li>WordPress Webdesign</li></a>
        <a href="/responsive-web-design-barcelona"><li>Responsive Webdesign</li></a>
        <a href="/contact"><li>Contact</li></a>

	</ul>
</nav>

<br>
<br>

<section id="area1">

	<div class="wrapper-left">

		<h1 class="first">Freelance Interface Designer Barcelona</h1>

		<p>As a Freelance Web Designer, I strive to provide Barcelona with modern, simple & clean <strong>Websites.</strong> My Freelance service includes the complete production of a Website, starting with the User Interface (UI) Design. I believe every website should focus on <strong>User Experience</strong> before anything else.
		<br><br>
		We need to improve the <strong>usability</strong> because otherwise, no matter how good-looking your page is, you won’t get any <strong>conversions.</strong> An user shouldn’t have a hard time to reach his goal. Whether it is to get informed, to buy your product or get to know your service. All the <strong>visual elements</strong> need to work with each other, and it is important, to use the right Typo. <strong>Typography</strong> can make or break the whole page.</p>
		<br>
		<img title="designing-a-website" src="/img/image-of-designing-a-website.png" alt="designing-a-website">


		<p>Since I am responsible for the full production of your website, I offer web development, wordpress webdesign, search engine optimization, responsive webdesign & web hosting solutions as well.
		<h2>Page Layout</h2>
		<p>
		I make sure the <strong>page layout</strong> is adapted to your overall <strong>business vision</strong> and to your business goals. Your identity needs to be in line with your audience so you can communicate your “Why’s” in a proper way.</p>

		<p>
		For everything I design, I use <a href="https://en.wikipedia.org/wiki/Grid_(graphic_design)">grid technologies</a> to make sure, that your page looks good on every kind of device, doesn’t matter if it is the new <strong>iPhone X</strong>, an Android phone or some kind of a tablet or wait… the things in between which are called <strong>“phablets”</strong> nowadays.
		<br><br>
		I design every page with <a href="https://www.sketchapp.com/">Sketch</a> which is a beautiful software or let’s call it a “digital design toolkit”. Sketch enables me to do iOS Mirroring, to use <strong>Grids and Guides,</strong> to export my Code & to edit Vectors. I can combine symbols and sync my <strong>design</strong> to all devices, which is pretty awesome.
		<br><br>
		After the Design is done, I write the Markup with HTML and CSS and to breath life into your page I use Javascript, but this is more a development thing. Check the <a href="web-development-barcelona">web development</a> section for more information on this.
		</p>

		<h2>From Landing Pages to Illustrations:</h2>

		<ul class="ul-list">
			<li>Landing Page Design (One-Pager).</li>
			<li>Flat Icons, Icons</li>
			<li>Illustrations.</li>
			<li>Advertising Banners.</li>
			<li>Complete Website Design.</li>
			<li>Single Fields like “Sign up for our Newsletter”</li>
			<li>The mobile Version (Responsive Design)</li>
			<li>Website Redesign</li>
		</ul>




	</div>

	<div class="wrapper-right">

		{% include sidebar.html %}

	</div>

</section>





{% include footer.html %}

<script src="/main.js"></script>

</body>
</html>
