---
# this is an empty front matter
---

<!DOCTYPE html>
<html lang="us">
<head>

  <title>Web Design Service Barcelona - wdcee.com</title>

 
{% include header.html %}



<section id="homepage-hero">
	<div class="homepage-wrapper">

	<h1>My <span>Freelance Web Design Service</span><br><span class="yellow">Barcelona</span></h1>
	<img src="/img/logo.svg" alt="logo">


	</div>
</section>


<section id="area1">

	<div class="wrapper-left">

		<h2>Freelance Web Design Service</h2>
		<p>As a Barcelona Web Design Freelancer, I strive to provide Barcelona with modern, simple & clean Websites. My service includes the whole production of a Website, starting with the User Interface (UI) Design. I believe every website should focus on User Experience before anything else. We need to improve the usability because otherwise, no matter how good-looking your page is, you won’t get any conversion. An user shouldn’t have a hard time to reach his goal whether it is to get informed, to buy your product or get to know your service. All the visual elements need to work with each other, and it is important to use the right Typo. Typography can make or break the whole page.</p>

		<img title="designing-a-website" src="/img/image-of-designing-a-website.png" alt="designing-a-website">


		<p>Since I am responsible for the full production of your website, I offer web development, wordpress webdesign, search engine optimization, responsive webdesign & Web Hosting solutions as well.
		<br><br>
		I make sure the page layout is adapted to your overall business vision and to your business goals. Your identity needs to be in line with your audience so you can communicate your “Why’s” in a proper way.</p>

		<p>
		For everything I design, I use grid technologies to make sure that your page looks good on every kind of device, doesn’t matter if it is the new iPhone X, an Android phone or some kind of a tablet or wait… the thins in between which are called “phablets” nowadays.
		<br><br>
		I design every page with Sketch which is a beautiful software or let’s call it a “digital design toolkit” which enables me to do iOS Mirroring, to use Grids and Guides, to export my Code & to edit Vectors. I can combine symbols and sync my design to all devices, which is pretty awesome.
		<br><br>
		After the Design is done, I write the Markup with HTML and CSS and to breath life into your page I use Javascript, but this is more a development thing.
		</p>

		<h2>My User Interface Design includes:</h2>

		<ul class="ul-list">
			<li>Landing Page Design (One-Pager).</li>
			<li>Flat Icons, Icons & </li>
			<li>Illustrations.</li>
			<li>Advertising Banners.</li>
			<li>Complete Website Design.</li>
			<li>Single Fields like “Sign up for our Newsletter”</li>
			<li>The mobile Version (Responsive Design)</li>
			<li>Website Redesign</li>
		</ul>




	</div>

	<div class="wrapper-right">
		
		<img title="barcelona-freelancer" id="port" src="/img/me.jpg" alt="picture-of-me">
		<h2>Lukasz Adam</h2>


		<h2>Why me?</h2>

		<ul class="liste">
			<li>I find the best way to solve a problem.</li>
			<li>You don’t pay an extraordinary sum.</li>
			<li>I can work remote as well as in Barcelona.</li>
			<li>Because I believe creating the best version of something.</li>
		</ul>

		<h2>Social Media</h2>
		<p>Join my <a href="https://www.facebook.com/groups/543169876044894/">Facebook Marketing Group</a> to increase your Traffic.</p>

		<img src="/img/icon-lukaszadam.png" alt="illustration-of-me" width="150px">

		<h2>Contact Me</h2>
		<p>You can write me an E-mail or check my Social Media.

		<h3 id="email-site">lukasz.adms@gmail.com</h3>
		<a href="https://www.facebook.com/lukaszadamcom/"><img src="/img/facebook.svg" alt="facebook" width="40px"></a>
		<a href="https://twitter.com/lukaszadam_com"><img src="/img/twitter.svg" alt="facebook" width="40px"></a>
		<a href="https://www.instagram.com/lukaszadam_com/"><img src="/img/instagram.svg" alt="facebook" width="40px"></a>

.</p>

	</div>

</section>





{% include footer.html %}

<script src="/main.js"></script>

</body>
</html>
