<section>
    <div class="wrapper">

            <h3>Including:</h3>

            <br>

            <ul class="ul-list">
                    <li>User Interface Design (Websites, Apps, Mobile Responsive Pages)
              </li>
                    <li>Web Development (HTML, CSS, Javascript, PHP, Angular.JS)
              </li>
                    <li>WordPress Solutions (Custom Made Plugins, adding functions, securing your data)
              </li>
                    <li>Web Hosting Help (With a GitHub Account and a static website you can host your page without monthly costs!)
              </li>
                    <li>SEO Marketing (On-Page SEO, Off-Page SEO, Content Marketing, Internal Linking, Title & Tag Adjustment, Skyscraper Content)
              </li>
                    <li>Responsive Webdesign
                    Making your Page perfectly fitted for smartphones and tablets.</li>
    
            </ul>


    </div>
</section>