<section class="block block-three-column-1">
    <div class="container">
      <div class="columns">
        <div class="column">
            <h3>Hello</h3>
            <p>"The Design Blocks can be used without Forestry but to harness the power
              of Blocks we recommend using Forestry. Once the site is imported you can immediately
              create new sites and make them fully customizable. \U0001F447"</p>
        </div>
        <div class="column">
            <h3>Hello</h3>
            <p>"The Design Blocks can be used without Forestry but to harness the power
              of Blocks we recommend using Forestry. Once the site is imported you can immediately
              create new sites and make them fully customizable. \U0001F447"</p>
        </div>
        <div class="column">
            <h3>Hello</h3>
            <p>"The Design Blocks can be used without Forestry but to harness the power
              of Blocks we recommend using Forestry. Once the site is imported you can immediately
              create new sites and make them fully customizable. \U0001F447"</p>
        </div>            
      </div>
    </div>
  </section>
