   <!-- styles.css Link -->
    <link rel="stylesheet" href="/style.css">

    <!-- font Link -->
<link href="https://fonts.googleapis.com/css?family=Dosis:300,400,700" rel="stylesheet">
    
    <!-- charset -->
    <meta charset="UTF-8">

    <!-- Responsive Shizz -->
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=0">

    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
	<link rel="icon" href="/favicon.ico" type="image/x-icon">

</head>
<body>


<nav id="bigmenu">

<h3 id="menu" onclick="myFunction()">back</h3>

    <ul>
        
        <a href="/"><li>Home</li></a>
        <a href="/web-design-barcelona"><li>Web Design</li></a>
        <a href="/web-development-barcelona"><li>Web Development</li></a>
        <a href="/seo-barcelona"><li>SEO Marketing</li></a>
        <a href="/wordpress-barcelona"><li>WordPress Webdesign</li></a>
        <a href="/responsive-web-design-barcelona"><li>Responsive Webdesign</li></a>
        <a href="/contact"><li>Contact</li></a>

    </ul>
</nav>  




<nav id="lmenu">

<h3 id="menu" onclick="myFunction()">Menu</h3>


	<ul>

        <a href="/"><li>Home</li></a>
        <a href="/web-design-barcelona"><li>Web Design</li></a>
        <a href="/web-development-barcelona"><li>Web Development</li></a>
        <a href="/seo-barcelona"><li>SEO Marketing</li></a>
        <a href="/wordpress-barcelona"><li>WordPress Webdesign</li></a>
        <a href="/responsive-web-design-barcelona"><li>Responsive Webdesign</li></a>
        <a href="/contact"><li>Contact</li></a>

	</ul>
</nav>	