<header class="block block-header-1" itemtype="https://schema.org/WPHeader" itemscope="itemscope">

  <div class="block-header-1--logo">
  <a href="/">
    <img src="/assets/img/logo.svg" alt="Logo" width="30px">
  </a>
</div>
              
  <nav class="block-header-1--nav" itemtype="http://schema.org/SiteNavigationElement" itemscope="itemscope">
    <ul>
     <li class="nav-item">
        <a href="/" {% if page.url == "/" %} style="font-weight:bold;" {% endif %}>
        Home
        </a>
      </li>

      <li class="nav-item dropdown">

        <a class="dropbtn" href="/service" {% if page.url == "/service/" %} style="font-weight:bold;" {% endif %}>Service</a>

      <div class="dropdown-content">

          <a href="/service/ui-design-barcelona" >UI Design</a>
          <a href="/service/seo-barcelona">SEO Marketing</a>
          <a href="/service/web-development-barcelona">Web Development</a>
          <a href="/service/wordpress-barcelona">WordPress Service</a>
          <a href="/service/responsive-web-design-barcelona">Responsive Web Design</a>

      </div>

    </li>
      

      <a class="button primary small block-header-2--cta" href="/contact">Contact</a>

    </ul>
  </nav>
              
</header>