<section class="block block-hero-2">
        <div class="container">
          <div class="columns">
            <div class="column text">
              <h1><span class="light">Freelance Web Designer</span> for Barcelona</h1>
              <p>Design, Search Enginge Optimization and Development. My name is Lukasz Adam
                and I am your Freelancer for Barcelona.</p>
              <a class="button primary inverted" href="/">Free Consultation Today!</a>
            </div>
            <div class="column media">
              <img src="/assets/img/product-shot-1.png" alt="Freelance Web Designer Barcelona Illustration">
            </div>
          </div>
        </div>
      </section>