
            <section class="block block-media-2">
                <div class="container">
                  <div class="columns">
                    <div class="column">
                        <figure>
                            <img src="/assets/img/drone-photo.jpeg" alt="drone">
                            <figcaption>ferfrefrefre</figcaption>
                        </figure>         
                    </div>
                    <div class="column">
                      <figure>
                          <img src="/assets/img/drone-photo.jpeg" alt="drone">
                          <figcaption>ferfrefrefre</figcaption>
                      </figure>        
                    </div>
                  </div>
                </div>
              </section>