<script type="application/ld+json">

    {
    "@context":"http://schema.org",
    "@type":"AboutPage",
    "url":"https://wdceee.com/about",
    "name":"About Freelance Web Designer Barcelona",

    "about":{
        "@type":"LocalBusiness",
        "url":"https://wdceee.com/about",
        "areaServed": ["Barcelona", "Tarragona", "Montserrat", "Sitges"],
        "logo":"https://wdceee.com/assets/img/logo.svg",
        "description":"Freelance Web Designer for Barcelona",
        "parentOrganization":"https://wdceee.com/",
        "name":"Wdceee",
        "@id":"https://wdceee.com/"},
        "@id":"https://wdceee.com/about"
    }

</script>
