<script type="application/ld+json">
    {
    "@context":"http://schema.org",
    "@type":"Service",
    "url":"https://wdceee.com",
    "name":"Freelance Web Designer Barcelona",
    "image":"https://wdceee.com/assets/img/portrait-of-me-bunker del carmel.jpg",
    "serviceOutput":"Website Design, Search Engine Optimization",
     "areaServed": [
		{
			"@type": "City",
			"name": "Barcelona",
			"@id": "https://en.wikipedia.org/wiki/Barcelona"
    }
                        ],
    "logo":"https://wdceee.com/assets/img/logo.svg",
    "description":"Freelance Web Designer for Barcelona"}
    }
</script>