<script type="application/ld+json">{
    "@context": "http://schema.org/",
    "@type": "LocalBusiness",
  "image": "https://wdceee.com/assets/img/portrait-of-me-bunker del carmel.jpg",
    "address": {
      "@type": "PostalAddress",
      "addressLocality": "Barcelona",
      "addressRegion": "",
      "postalCode": "08032"
    },
    "name": "Freelance Web Designer Barcelona",
    "openingHours": 
      "Mo-SU 8:00-22:00",
    "priceRange": "$",
    "areaServed": [
    {
        "@type": "City",
        "name": "Barcelona",
        "@id": "https://en.wikipedia.org/wiki/Barcelona"
    }],
  "paymentAccepted":"Cash, Payoneer, PayPal, Credit Card",
    "url": "https://wdceee.com/"
  },</script> 
  


  <script type="application/ld+json">{
    "@context": "http://schema.org/",
    "@type": "ProfessionalService",
    "areaServed": [
    {
        "@type": "City",
        "name": "Barcelona",
        "@id": "https://en.wikipedia.org/wiki/Barcelona"
    }],
  "image": "https://wdceee.com/assets/img/portrait-of-me-bunker del carmel.jpg",
    "address": {
      "@type": "PostalAddress",
      "addressLocality": "Barcelona",
      "addressRegion": "",
      "postalCode": "08032"
    },
    "name": "Freelance Web Designer Barcelona",
    "openingHours": 
      "Mo-SU 8:00-22:00",
    "priceRange": "$",
    "paymentAccepted":"Cash, Payoneer, PayPal, Credit Card",
    "url": "https://wdceee.com/"
  },
    </script> 


          
    <script type="application/ld+json">{
    "@context": "http://schema.org",
    "@type": "Organization",
    "url": "https://wdceee.com/",
    "logo": "https://wdceee.com/assets/img/logo.svg",
    "areaServed": [
		{
			"@type": "City",
			"name": "Barcelona",
			"@id": "https://en.wikipedia.org/wiki/Barcelona"
        }]
  }
  {
    "@context": "http://schema.org",
    "@type": "Organization",
    "url": "https://wdceee.com/",
    "logo": "https://wdceee.com/assets/img/logo.svg"
  }</script>