
  <section class="block block-feature-1">
    <div class="container">
      <div class="columns">
        <div class="column text">
            <h2><span class="light">The digital marketing solution </span>for 
              Barcelona</h2>
            <p>
                Hi, my name is Lukasz Adam and I am a <a href="https://en.wikipedia.org/wiki/Barcelona">Barcelona</a> based Freelance Web Designer, 
                who provides affordable web design solutions to other freelancers, agencies, entrepreneurs or for your personal projects. 
                <br><br>
                I do web development, User Interface Design & SEO Marketing. 
                My Web Design services extend throughout the Barcelona 
                area (including Girona, Tarragona, Montserrat, Santa Susana, Sitges, 
                Vilanova i la Geltrú). 
                <br><br>
                Since I am a Freelancer, I very often meet my lovely 
                customers in Sant Pere, Santa Caterina i la Ribera, because 
                it is not so crowded like Barcelona’s touristic 
                parts -la rambla-, especially in the summer months. 
                However I am also able to work remotely from all 
                parts of the world.
            </p>
        </div>
        <div class="column media">
            <img src="/assets/img/webdesign-barcelona.jpg" alt="view-of-barcelona">
        </div>
      </div>      
    </div>
  </section>