---
import Layout from '../layouts/Layout.astro';
import Footer from '../components/Footer.astro';
import Header from '../components/Header.astro';
---


<Layout title="Free SVG Illustrations">
	<main>
        <Header/>
		<h1>Free <span class="text-gradient">SVG Illustrations</span></h1>

        <p>Download these SVG illustrations with only one click and use them for any commercial project 
            you like. You don't have to set any attribution at all. MIT licensed SVG illustrations under the C00 license.</p>

            <p>No attribution.</p>

            <p>No email sign-up.</p>

            <p>Just click and download.</p>

        
            <section class="illustration_section">

                <p>Just click the download button and you can directly download every illustration without any email sign-up. I'll add new illustrations every week, so make sure to save this URL.
                    You can use them for an unlimited number of commercial projects.
                </p>
            
                <div class="illustration_wrapper">
            
                    <div class="illustration_single">
                        <img src="/illustrations/free-svg-illustrations-20.svg" alt="free svg illustration">
                        <a class="illustration_download" href="/illustrations/barcelona_icons.zip" download="uxcelona_barcelona_icons">Download Here</a>
                    </div>
            
            
                    <div class="illustration_single">
                        <img src="/illustrations/free-svg-illustrations-19.svg" alt="free svg illustration">
                        <a class="illustration_download" href="/illustrations/free-svg-illustrations-19.svg" download="free_svg_illustration_19">Download Here</a>
                    </div>
            
            
                    <div class="illustration_single">
                        <img src="/illustrations/free-svg-illustrations-18.svg" alt="free svg illustration">
                        <a class="illustration_download" href="/illustrations/free-svg-illustrations-18.svg" download="free_svg_illustration_18">Download Here</a>
                    </div>
            
                    <div class="illustration_single">
                        <img src="/illustrations/free-svg-illustrations-17.svg" alt="free svg illustration">
                        <a class="illustration_download" href="/illustrations/free-svg-illustrations-17.svg" download="free_svg_illustration_17">Download Here</a>
                    </div>
            
            
                    <div class="illustration_single">
                        <img src="/illustrations/free-svg-illustrations-15.svg" alt="free svg illustration">
                        <a class="illustration_download" href="/illustrations/free-svg-illustrations-15.svg" download="free_svg_illustration_15">Download Here</a>
                    </div>
                
            
                    <div class="illustration_single">
                        <img src="/illustrations/free-svg-illustrations-16.svg" alt="free svg illustration">
                        <a class="illustration_download" href="/illustrations/free-svg-illustrations-16.svg" download="free_svg_illustration_16">Download Here</a>
                    </div>
                    
            
            
                <div class="illustration_single">
                    <img src="/illustrations/free-svg-illustration-1.svg" alt="free svg illustration">
                    <a class="illustration_download" href="/illustrations/free-svg-illustration-1.svg" download="free_svg_illustration_1">Download Here</a>
                </div>
            
                <div class="illustration_single">
                    <img src="/illustrations/free-svg-illustration-2.svg" alt="free svg illustration">
                    <a class="illustration_download" href="/illustrations/free-svg-illustration-2.svg" download="free_svg_illustration_2">Download Here</a>
                </div>
            
            
                <div class="illustration_single">
                    <img src="/illustrations/free-svg-illustration-3.svg" alt="free svg illustration">
                    <a class="illustration_download" href="/illustrations/free-svg-illustration-3.svg" download="free_svg_illustration_3">Download Here</a>
                </div>
            
            
                <div class="illustration_single">
                    <img src="/illustrations/free-svg-illustration-4.svg" alt="free svg illustration">
                    <a class="illustration_download" href="/illustrations/free-svg-illustration-4.svg" download="free_svg_illustration_4">Download Here</a>
                </div>
            
                <div class="illustration_single">
                    <img src="/illustrations/free-svg-illustration-5.svg" alt="free svg illustration">
                    <a class="illustration_download" href="/illustrations/free-svg-illustration-5.svg" download="free_svg_illustration_5">Download Here</a>
                </div>
            
                <div class="illustration_single">
                    <img src="/illustrations/free-svg-illustration-6.svg" alt="free svg illustration">
                    <a class="illustration_download" href="/illustrations/free-svg-illustration-6.svg" download="free_svg_illustration_6">Download Here</a>
                </div>
            
                <div class="illustration_single">
                    <img src="/illustrations/free-svg-illustration-7.svg" alt="free svg illustration">
                    <a class="illustration_download" href="/illustrations/free-svg-illustration-7.svg" download="free_svg_illustration_7">Download Here</a>
                </div>
            
                <div class="illustration_single">
                    <img src="/illustrations/free-svg-illustration-8.svg" alt="free svg illustration">
                    <a class="illustration_download" href="/illustrations/free-svg-illustration-8.svg" download="free_svg_illustration_8">Download Here</a>
                </div>
            
                <div class="illustration_single">
                    <img src="/illustrations/free-svg-illustration-9.svg" alt="free svg illustration">
                    <a class="illustration_download" href="/illustrations/free-svg-illustration-9.svg" download="free_svg_illustration_9">Download Here</a>
                </div>
            
            
                <div class="illustration_single">
                    <img src="/illustrations/free-svg-illustration-10.svg" alt="free svg illustration">
                    <a class="illustration_download" href="/illustrations/free-svg-illustration-10.svg" download="free_svg_illustration_10">Download Here</a>
                </div>
            
            
            
                <div class="illustration_single">
                    <img src="/illustrations/free-svg-illustration-11.svg" alt="free svg illustration">
                    <a class="illustration_download" href="/illustrations/free-svg-illustration-11.svg" download="free_svg_illustration_11">Download Here</a>
                </div>
            
            
            
                <div class="illustration_single">
                    <img src="/illustrations/free-svg-illustration-12.svg" alt="free svg illustration">
                    <a class="illustration_download" href="/illustrations/free-svg-illustration-12.svg" download="free_svg_illustration_12">Download Here</a>
                </div>
                
            
            
                <div class="illustration_single">
                    <img src="/illustrations/free-svg-illustrations-13.svg" alt="free svg illustration">
                    <a class="illustration_download" href="/illustrations/free-svg-illustrations-13.svg" download="free_svg_illustration_13">Download Here</a>
                </div>
                
            
            
                <div class="illustration_single">
                    <img src="/illustrations/free-svg-illustrations-14.svg" alt="free svg illustration">
                    <a class="illustration_download" href="/illustrations/free-svg-illustrations-14.svg" download="free_svg_illustration_14">Download Here</a>
                </div>

            </div>

            </section>

                <p>If you have any inquiries, feel free to contact me at <a href="mailto:lukasz.adms@gmail.com">lukasz.adms@gmail.com</a>. As a Freelance Web Designer Barcelona, I would like to express my gratitude to the web design community for their invaluable help.</p>
<p>If you wish to show your support, you may include a link to my website. However, please note that this is entirely optional.</p>

                
		
	



	</main>

<Footer>


</Layout>



<style>

	body, html {
		overflow-x: hidden;
	}

	footer {
		text-align: center;
	}

    a {
        color: #8e44eb;
    }

	footer a {
		display: block;
		color: white;
		margin: 22px;
	}







	main {
		margin: auto;
		padding: 1rem;
		width: 800px;
		max-width: calc(100% - 2rem);
		color: white;
		font-size: 20px;
		line-height: 1.6;
	}
	.astro-a {
		position: absolute;
		top: 98px;
		left: 50%;
		transform: translatex(-50%);
		width: 1200px;
        max-width: 90%;
		height: auto;
		z-index: -1;
	}

	h1 {
		font-size: 4rem;
		font-weight: 700;
		line-height: 1;
		text-align: center;
		margin-bottom: 24px;
		margin-top: 12px;
	}
	.text-gradient {
		background-image: var(--accent-gradient);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-size: 400%;
		background-position: 0%;
	}
	.instructions {
		margin-bottom: 2rem;
		border: 1px solid rgba(var(--accent-light), 25%);
		background: linear-gradient(rgba(var(--accent-dark), 66%), rgba(var(--accent-dark), 33%));
		padding: 1.5rem;
		border-radius: 8px;
	}
	.instructions code {
		font-size: 0.8em;
		font-weight: bold;
		background: rgba(var(--accent-light), 12%);
		color: rgb(var(--accent-light));
		border-radius: 4px;
		padding: 0.3em 0.4em;
	}
	.instructions strong {
		color: rgb(var(--accent-light));
	}
	.link-card-grid {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
		gap: 2rem;
		padding: 0;
	}

	img	{
		max-width: 100%;
	}

	span {
		text-align: center;
		display: block;
	}






.illustration_single {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 46px;
  border: 2px solid #252525;
  margin: 32px 0;
  border-radius: 5px;
  background-color: white;
}




.illustration_single img {
  width: 250px;
}


.illustration_download {
  border: 2px solid black;
  padding: 4px 22px;
  border-radius: 5px;
  margin-top: 16px;
  font-size: 14px;
  text-decoration: none;
  color: black;
}

@media screen and (min-width:600px){ 

  .illustration_section {
    margin: 0 auto;
    text-align: center;
  }

  .illustration_wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 32px;
    margin: 0 auto;
  }

}
  





</style>
