
<footer>

    

    <span>Copyright 2024 &copy; Barcelona</span>
    <a href="/">Freelance Web Designer Barcelona</a>
	<a href="/wordpress-barcelona">WordPress Barcelona</a>
    <a href="/about">About Me</a>
    <a href="/free-svg-illustrations">Free SVG Illustrations</a>
	<a href="/testimonial-cataluna-cafe">Testimonial</a>



</footer>



<style>

footer {
		color: white;
	}

footer {
		text-align: center;
	}

	footer a {
		display: block;
		color: white;
		margin: 22px;
	}

</style>