<svg class="astro-a" id="Layer_2" data-name="Layer 2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1272.02 154.98">
    <defs>
        <style>
        .cls-1 {
            fill: #040405;
        }
        </style>
    </defs>
    <g id="Layer_1-2" data-name="Layer 1">
        <g>
        <path class="cls-1" d="M103.06,78.58c-2.6-1.51-5.33-2.83-8.17-3.97,4.82-2.51,8.88-5.62,12.12-9.36,4.74-5.46,7.11-12.07,7.11-19.84s-2.37-14.48-7.11-19.74c-4.74-5.26-11.15-9.21-19.25-11.85-8.09-2.63-17.27-3.95-27.54-3.95H0V148.07H64.16c12.24,0,22.67-1.25,31.29-3.75,8.62-2.5,15.2-6.52,19.74-12.04,4.54-5.53,6.81-12.9,6.81-22.11,0-7.37-1.75-13.65-5.23-18.85-3.49-5.2-8.06-9.44-13.72-12.73ZM54.29,42.45c5,0,8.65,.82,10.96,2.47,2.3,1.65,3.46,4.24,3.46,7.8,0,2.37-.53,4.41-1.58,6.12-1.05,1.71-2.63,3.03-4.74,3.95-2.11,.92-4.81,1.38-8.09,1.38h-10.86v-21.72h10.86Zm19.74,68.9c-1.71,1.71-3.95,2.83-6.71,3.36-2.76,.53-5.79,.79-9.08,.79h-14.81v-22.71h14.81c2.5,0,4.84,.13,7.01,.4,2.17,.26,4.11,.76,5.82,1.48,1.71,.72,3.06,1.78,4.05,3.16,.99,1.38,1.48,3.19,1.48,5.43,0,3.69-.86,6.39-2.57,8.09Z"/>
        <path class="cls-1" d="M125.96,148.07h49.36l9.72-17.77h37.58l9.96,17.77h49.36L203.94,0,125.96,148.07Zm89.77-48.96h-23.58l11.79-26.46,11.79,26.46Z"/>
        <path class="cls-1" d="M404.82,81.64c4.01-7.17,6.02-15.3,6.02-24.38s-2.01-17.37-6.02-24.48c-4.02-7.11-10.27-12.7-18.75-16.78-8.49-4.08-19.52-6.12-33.07-6.12h-58.24V148.07h43.43v-43.43h5.99l24.61,43.43h50.34l-33.04-49.57c8.48-4.08,14.72-9.7,18.73-16.87Zm-55.77-35.24c3.68,0,6.71,.49,9.08,1.48s4.18,2.44,5.43,4.34c1.25,1.91,1.88,4.25,1.88,7.01s-.63,4.94-1.88,6.91c-1.25,1.97-3.06,3.46-5.43,4.44-2.37,.99-5.4,1.48-9.08,1.48h-10.86v-25.67h10.86Z"/>
        <path class="cls-1" d="M505.02,5.92c-11.98,0-22.9,1.71-32.77,5.13-9.87,3.42-18.3,8.36-25.27,14.81-6.98,6.45-12.37,14.15-16.19,23.1-3.82,8.95-5.73,18.95-5.73,30.01s1.91,21.06,5.73,30.01c3.82,8.95,9.21,16.65,16.19,23.1,6.98,6.45,15.4,11.39,25.27,14.81,9.87,3.42,20.79,5.13,32.77,5.13,10.13,0,18.39-1.28,24.78-3.85,6.38-2.57,12.27-5.69,17.67-9.38v-44.62c-2.9,2.76-6.15,5.43-9.77,8-3.62,2.57-7.8,4.71-12.54,6.42-4.74,1.71-10.4,2.57-16.98,2.57s-12.34-1.18-17.67-3.55c-5.33-2.37-9.61-5.95-12.83-10.76-3.23-4.8-4.84-10.76-4.84-17.87s1.61-13.06,4.84-17.87c3.22-4.8,7.5-8.39,12.83-10.76,5.33-2.37,11.22-3.55,17.67-3.55s12.24,.82,16.98,2.47c4.74,1.65,8.92,3.79,12.54,6.42,3.62,2.63,6.88,5.33,9.77,8.09V19.15c-5.4-3.82-11.29-6.98-17.67-9.48-6.39-2.5-14.64-3.75-24.78-3.75Z"/>
        <polygon class="cls-1" points="603.14 9.87 573.13 9.87 573.13 148.07 603.14 148.07 614.59 148.07 672.83 148.07 672.83 113.52 614.59 113.52 614.59 93.78 668.88 93.78 668.88 60.22 614.59 60.22 614.59 44.42 672.83 44.42 672.83 9.87 614.59 9.87 603.14 9.87"/>
        <polygon class="cls-1" points="741.93 9.87 698.5 9.87 698.5 148.07 798.2 148.07 798.2 111.55 741.93 111.55 741.93 9.87"/>
        <path class="cls-1" d="M930.28,25.86c-6.98-6.45-15.14-11.38-24.48-14.81-9.35-3.42-19.55-5.13-30.6-5.13s-20.86,1.71-30.21,5.13c-9.35,3.42-17.51,8.36-24.48,14.81-6.98,6.45-12.44,14.15-16.39,23.1-3.95,8.95-5.92,18.95-5.92,30.01s1.88,21.16,5.63,30.3c3.75,9.15,9.05,17.08,15.89,23.79,6.84,6.71,14.97,11.88,24.38,15.5,9.41,3.62,19.77,5.43,31.09,5.43s21.68-1.81,31.09-5.43c9.41-3.62,17.54-8.79,24.38-15.5,6.84-6.71,12.14-14.64,15.89-23.79,3.75-9.15,5.63-19.25,5.63-30.3s-1.91-21.06-5.73-30.01c-3.82-8.95-9.21-16.65-16.19-23.1Zm-27.84,70.88c-2.5,5.13-6.06,9.12-10.66,11.94-4.61,2.83-10.14,4.24-16.58,4.24s-11.98-1.41-16.58-4.24c-4.61-2.83-8.16-6.81-10.66-11.94-2.5-5.13-3.75-11.06-3.75-17.77s1.25-12.8,3.75-17.87c2.5-5.06,6.05-9.01,10.66-11.85,4.61-2.83,10.13-4.24,16.58-4.24,6.84,0,12.54,1.42,17.08,4.24,4.54,2.83,8,6.78,10.37,11.85,2.37,5.07,3.55,11.03,3.55,17.87s-1.25,12.63-3.75,17.77Z"/>
        <polygon class="cls-1" points="1061.76 72.46 971.93 2.96 971.93 148.07 1013.39 148.07 1013.39 85.49 1103.22 154.98 1103.22 9.87 1061.76 9.87 1061.76 72.46"/>
        <path class="cls-1" d="M1222.67,148.07h49.36L1194.04,0l-77.98,148.07h49.36l9.71-17.77h37.58l9.96,17.77Zm-16.84-48.96h-23.58l11.79-26.46,11.79,26.46Z"/>
        </g>
    </g>
    </svg>
    <a href="/">
    <div class="main_pic">
        <img id="localseophoto" src="/freelancer-working-in-barceloneta.jpg" alt="local seo expert">
    </div>
    </a>


<style>
    	.main_pic {
		text-align: center;
	}

	#localseophoto {
		border-radius: 50%;
		height: 200px;
		width: 200px;
		object-fit: cover;
		object-position: top;
	}

    .astro-a {
		position: absolute;
		top: 98px;
		left: 50%;
		transform: translatex(-50%);
		width: 1200px;
		max-width: 90%;
		height: auto;
		z-index: -1;
	}

</style>